---
layout: archive
---
{{ content }}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Name</strong>
            </td>
            <td>{{ page.title }}</td>
        </tr>
        <tr>
            <td><strong>Function</strong>
            </td>
            <td>{{ page.function}}/td>
        </tr>
        <tr>
            <td><strong>Mail</strong>
            </td>
            <td><a href="mailto:{{ page.mail }}">{{ page.mail }}</a></td>
        </tr>
    </tbody>
</table>


<!--
<div class="cf" />

{{ content }}
-->
