---
layout: archive
---
{{ content }}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Name</strong>
            </td>
            <td>{{ page.title }}</td>
        </tr>
        <tr>
            <td><strong>Function</strong>
            </td>
            <td>{{ page.function}}/td>
        </tr>
        <tr>
            <td><strong>Mail</strong>
            </td>
            <td><a href="mailto:{{ page.mail }}">{{ page.mail }}</a></td>
        </tr>
    </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.1.0/leaflet.js" integrity="sha256-tjeCw1yzCBwiuZUrMPC89d0i82fR7Ij2O1OEo8cEMGw=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/esri-leaflet/2.1.0/esri-leaflet.js" integrity="sha256-0Cv64p2AGKlPdocnd4C/+dG+NSbq2zsp2ZeupUTaLng=" crossorigin="anonymous"></script>
<!--
<div class="cf" />

{{ content }}
-->
