---
layout: archive
---
{{ content }}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Organisation Name</strong>
            </td>
            <td>{{ page.title }}</td>
        </tr>
        <tr>
            <td><strong>Mail</strong>
            </td>
            <td><a href="mailto:{{ page.mail }}">{{ page.mail }}</a></td>
        </tr>
        <tr>
            <td><strong>Website</strong>
            </td>
            <td><a href="{{page.website}}">{{page.website}}</a></td>
        </tr>
        <tr>
            <td><strong>Twitter</strong>
            </td>
            <td>
              {% if page.twitter %}
              <a href="https://twitter.com/{{page.twitter}}/">@{{ page.twitter }}</a>
              {% endif %}
            </td>
        </tr>
        <tr>
            <td><strong>Linkedin</strong>
            </td>
            <td><a href="{{page.linkedin}}">{{page.linkedin}}</a></td>
        </tr>
        <tr>
            <td><strong>Facebook</strong>
            </td>
            <td><a href="{{page.facebook}}">{{page.facebook}}</a></td>
        </tr>
        <tr>
            <td><strong>Instagram</strong>
            </td>
            <td>
              {% if page.instagram %}
              <a href="https://instagram.com/{{page.instagram}}/">{{ page.instagram }}</a>
              {% endif %}
            </td>
        </tr>
        <tr>
            <td><strong>Members Number</strong>
            </td>
            <td>{{ page.members }}</td>
        </tr>
        <tr>
            <td><strong>Location</strong>
            </td>
            <td>{{ page.country }}, {{ page.town }}{% if page.location %}, {{ page.location }}{% endif %}</td>
        </tr>
    </tbody>
</table>


<!--
<div class="cf" />

{{ content }}
-->

<script type="text/javascript">
  window.forum_group = "{{ page.forum_group }}";
  window.forum_api   = "{{ site.forum_api }}";
</script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.min.js"></script>
<script src="{{ '/assets/js/team.js' | absolute_url }}"></script>
